In [301]:
import pandas as pd
import numpy as np
from numpy.random import seed, randint, rand

In [302]:
seed(123)

### Propositions

In [303]:
1 > 4

False

In [304]:
2 + 2 == 4

True

In [305]:
2 + 2 != 5

True

In [306]:
not(1 > 4)

True

In [307]:
1 > 4 and 1 < 4

False

In [308]:
1 > 4 or 1 < 4

True

### Table de vérité

In [309]:
a = [False, False, True, True]
b = [False, True, False, True]
c = [a[i] and b[i] for i in range(len(a))]
data = {'a': a, 'b': b, 'a and b': c}
table1 = pd.DataFrame(data).style.hide_index()

In [310]:
table1

In [311]:
d = [a[i] or b[i] for i in range(len(a))]
data2 = {'a': a, 'b': b, 'a or b': d}
table2 = pd.DataFrame(data2).style.hide_index()

In [312]:
table2

In [313]:
a2 = [False, True]
nota = [ not a2[i] for i in range(len(a2))]
data3 = {'a': a2,'not a': nota}
table3 = pd.DataFrame(data3).style.hide_index()

In [314]:
table3

### IF / WHILE / FOR :

Quand on teste une condition, on vérifie si elle est vraie.

Soit p une proposition :

`if p :
    ...
while p :
    ...`
    
Soit L un ensemble :

`for element in L :
    ...
`

In [315]:
if 1 > 4 :
    print("1 > 4 ???")
else:
    print("1 n'est pas supérieur à 4")

1 n'est pas supérieur à 4

In [316]:
u = rand()
if 0.5 < u:
    print(u, "> 0.5")
else:
    print(u, "<= 0.5")

0.6964691855978616 > 0.5

In [317]:
u = rand()
if u > 0.99:
    print("u > 0.99")
elif u > 0.95:
    print("0.99 >= u > 0.95")
elif u > 0.9:
    print("0.95 >= u > 0.9")
elif u > 0.1:
    print("0.9 >= u > 0.1")
else :
    print("u <= 0.1")

0.9 > u > 0.1

In [318]:
i = 0
v = randint(11,21)
print(i, " :", v)
while v > 10:
    i += 1
    v = v - rand()
    print(i, " :", v)

0  : 13
1  : 12.448685230917109
2  : 11.729216261131546
3  : 11.306109801007086
4  : 10.32534560262247
5  : 9.640515864037607

In [319]:
L = [rand() for k in range(100)]
sdemi = 0
idemi = 0
for r in L :
    if r > 0.5:
        sdemi += r
    else :
        idemi += r
print(sdemi) 
print(idemi)

35.51043581330719
13.86337273505205

### Relations plus complexes :

#### 1. OU exclusif

La relation a xor b s'écrit `a et non(b) ou non(a) and b`

In [321]:
e = [a[i] and not b[i] or not a[i] and b[i] for i in range(len(a))]
data4 = {'a': a, 'b': b, 'a xor b': e}
table4 = pd.DataFrame(data4).style.hide_index()

In [322]:
table4

Soit la proposition suivante : `a >= 1 XOR a < 1`, elle est vraie quelque soit a.

In [323]:
a = 2*rand(1000)
vv, vf, fv, ff = 0, 0, 0, 0
for i in range(1000):
    if a[i] >= 1:
        if a[i] < 1:
            vv += 1
        else:
            vf += 1
    else:
        if a[i] < 1:
            fv += 1
        else:
            ff += 1
print("FF :", ff, "\nFV :",fv, "\nVF :", vf, "\nVV :", vv )

FF : 0
FV : 523
VF : 477
VV : 0

Finalement, XOR teste le fait que a et b soient différents. Cela peut se faire avec le test "!=".

#### 2. Implication

Une implication a => b en logique booléenne s'écrie de cette manière : `not a or b`

In [324]:
a = [False, False, True, True]
b = [False, True, False, True]
f = [not a[i] or b[i] for i in range(len(a))]
data5 = {'a': a, 'b': b, 'a => b': f}
table5 = pd.DataFrame(data5).style.hide_index()

In [325]:
table5

Soit la proposition suivante : `(a > b et b > c) => a > c` qu'on notera : ( A => B )

In [326]:
a, b, c = rand(1000), rand(1000), rand(1000)
vv, vf, fv, ff = 0, 0, 0, 0
for i in range(1000):
    if a[i] > b[i] and b[i] > c[i]:
        if a[i] > c[i]:
            vv += 1
        else:
            vf += 1
    else:
        if a[i] > c[i]:
            fv += 1
        else:
            ff += 1
print("FF :", ff, "\nFV :",fv, "\nVF :", vf, "\nVV :", vv )

FF : 485
FV : 347
VF : 0
VV : 168

Nous n'avons fais qu'une simulation pour vérifier empiriquement la véracité de cette implication (qui se démontre mathématiquement, qui est donc vraie)

#### 3. Equivalence

Une équivalence, en logique mathématique : a <=> b est défini comme : a => b  et b => a.

On a vu que a => b def non(a) ou b, alors on pourrait donc écrire a <=> b comme (non(a) ou b) et (non(b) ou a).

Et en fait, on remarque que cette écriture est en fait la négation du OU exclusif vu précédement : 

    a XOR b : a and not(b) or not(a) and b

    not(a XOR b) : not(a and not(b) or not(a) and b)

                 = (not(a) or b) and (a or not(b))

In [327]:
a = [False, False, True, True]
b = [False, True, False, True]
g = [(not(a[i]) or b[i]) and (a[i] or not(b[i])) for i in range(len(a))]
data6 = {'a': a, 'b': b, 'a <=> b': g}
table6 = pd.DataFrame(data6).style.hide_index()

In [328]:
table6

Finalement, l'équivalence teste le fait que a et b soient les mêmes. Cela peut se faire avec le test "==".

Soit la proposition : a est pair <=> le chiffre des unités de a est pair.

In [329]:
# Pour vérifier qu'un nombre est pair on utilise le modulo "%" comme ceci : a%2 == 0 (impair serait a%2 == 1)
A = randint(1,1000)
Achaine = str(A) # on récupère le nombre en chaine de caractère
n = len(Achaine) # on récupère le nombre de chiffres
uA = int(Achaine[n-1]) # on récupère le chiffre des unités
print(A, Achaine, n, uA)

408 408 3 8

In [330]:
# Faisons le pour 1000 nb aléatoires
A = randint(1,1000, 1000)
Achaine = [str(A[i]) for i in range(len(A))]
n = [len(Achaine[i]) for i in range(len(Achaine))]
uA = [int(Achaine[i][n[i]-1]) for i in range(len(n))]

# et regardons ce qu'il se passe 
vv, vf, fv, ff = 0, 0, 0, 0
for i in range(1000):
    if A[i]%2 == 0: # Est-ce que a est pair
        if uA[i]%2 == 0: # Est-ce que son chiffre des unités est pair ?
            vv += 1
        else:
            vf += 1
    else:
        if uA[i]%2 == 0:
            fv += 1
        else:
            ff += 1
print("FF :", ff, "\nFV :",fv, "\nVF :", vf, "\nVV :", vv )

FF : 493
FV : 0
VF : 0
VV : 507